.card {
    /* margin: 50px; */
    text-align: center;
}

.card img {
    max-width: auto;
    margin-top: 10px;
    border-radius: 0%;
}

.card-body p {
    margin: 0;
}

.card-body p:first-child {
    font-size: 22px;
    font-weight: 600;
}

nav {
    margin-bottom: 50px;
}